.log-out-button {
	text-align: center;
	width: 30%;
	margin-right: 5%;
	padding: 1.5vh 0 1.5vh 0;
	background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
	opacity: 0.85;
	border-radius: 500px;
	border: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	color: rgb(226, 226, 226);
}
.log-out-button:active,
.log-out-button:focus {
	outline: none;
}
.log-out-button:hover {
	background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	color: #fff;
	transform: translateY(-3%);
	border: none;
	opacity: 1.0;
}

@media only screen and (min-width: 800px) {
	.log-out-button {
		width: 15%;
		margin-right: 5%;
	}
}
